.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
  transition:
    top 0.35s ease,
    padding 0.35s ease,
    background 0.35s ease;

  &.fixed {
    position: fixed;
    top: 0;
    background: rgba(18, 22, 35, 0.9);
    backdrop-filter: blur(5px);
    z-index: 99;
    .header-inner {
      padding: 7px 0;
      &::after {
        bottom: -20px;
      }
    }
  }
  .burger {
    @include mq("991") {
      display: none;
    }
  }

  &-inner {
    width: 100%;
    padding: 40px 0;
    position: relative;
    @include space-between;
    @include mq("991", max) {
      padding: 20px 0;
    }
    &::after {
      @include mq(desktop-wide) {
        content: "";
        background: url("../img/torus_half.png") no-repeat center;
        background-size: contain;
        width: 132px;
        height: 132px;
        position: absolute;
        left: 260px;
        bottom: 30px;
      }
    }
  }
  .logo {
    display: block;
    width: 96px;
    @include mq(desktop-wide) {
      width: 115px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      @include mq("991", max) {
        position: fixed;
        top: 0;
        left: -101%;
        display: block;
        width: 100%;
        height: 100vh;
        padding: 20px 0;
        background: #212738;
        transition: left 0.35s;
        z-index: 1000;

        //open mobile menu
        &.active {
          left: 0;
          li {
            &:first-child {
              padding-bottom: 20px;
              margin-bottom: 60px;
              border-bottom: 1px solid #313748;
            }
            padding-right: 0;
            padding-bottom: 46px;
            text-align: center;
            a {
              font-family: $medium_font;
              font-size: $medium-font-size;
              line-height: 22px;
            }
          }
        }
      }
      li {
        padding-right: 34px;

        &:last-child {
          padding-right: 0;
        }

        @include mq(desktop-wide) {
          padding-right: 64px;
        }
      }
    }
    .button {
      margin-left: 34px;
      font-size: 14px;
      height: 54px;
      @include mq(desktop-wide) {
        margin-left: 64px;
      }
      @include mq("991", max) {
        margin-left: 0;
        margin-right: 16px;
        width: 152px;
        height: 44px;
      }
      @include mq(m, max) {
        width: 115px;
        font-size: 10px;
      }
    }
  }
}

.mobile-menu {
  display: none;
  @include mq("991", max) {
    display: flex;
    justify-content: flex-end;
  }
}

.burger {
  @include flex-center;
  padding: 13px 11px;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: $white;
    border-radius: 10px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background: $white;
      transition: all 0.35s ease;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
  &.close {
    margin-right: 12px;
  }
}

.close {
  span {
    background: transparent;

    &:before,
    &:after {
      transform: rotate(0deg);
    }

    &:before {
      top: 0;
      transform: rotate(-45deg);
    }

    &:after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}
