.section-title {
  letter-spacing: -2%;
}

.reviews-row {
  @include mq("lg", max) {
    --bs-gutter-y: 32px;
  }
}

.has-scale {
  transition: $transition;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}
